@import 'core.css';
@import 'buttons.css';
@import 'forms.css';
@import 'screens.css';





/* >> Main */
.app__tasks {
  margin: 0;
  padding: 0;
  list-style: none;
}
.app__task + .app__task {
  margin-top: 12px;
}





/* > Result */
.tpl-result {
  position: fixed;
  width: 100vw;
  height: 100%;
  background: rgba(255,255,255,.95);
  z-index: 1;
  left: 0;
  top: 0;
  opacity: 0;
  overflow: hidden;
  height: 1px;
  transition: opacity ease .5s;
}
.tpl-result .tpl-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.tpl-result__task-container {
  padding: 12px;
  position: relative;
  flex-grow: 1;
  border: 1px solid var(--color-pink);
  transform: translateY(-24px);
}
.tpl-result__task-label {
  position: absolute;
  color: var(--color-pink);
  font-weight: 400;
  left:0;
  bottom: 100%;
  margin-bottom: 4px;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  
}
.tpl-result__task {
  transform: translateY(10%);
  opacity: 0;
  transition: opacity ease 1s, transform ease 1.4s;
  margin: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 48px;
}
.tpl-result__reset {
  position: absolute;
  right: 0;
  top: 24px;
  width: 48px;
  height: 1px;
  padding: 47px 0 0;
  border: 0;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}
.tpl-result__reset::after {
  content: '\f00d';
  font-family: var(--fa);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-pink);
  font-size: 24px;
}

.tpl-result--visible {
  height: 100vh;
  opacity: 1;
}
.tpl-result--visible .tpl-result__task {
  transform: translateY(0);
  opacity: 1;
}