/* > Screens */
/* >> Commom */
.tpl-wrapper {
  margin: 0 48px;
  max-width: 318px;
}
@media all and (min-width: 414px) {
  .tpl-wrapper {
    margin: 0 auto;
  }
}



/* >> Screen */
.tpl-screen {
  background: var(--color-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}





/* >>> Layout */
.tpl-screen__intro {
  padding-top: 84px;
  position: relative;
}
.tpl-screen___content {
  margin-top: 36px;
}
.tpl-screen__cta {
  padding:36px 0 48px;
}





/* >> Elements */
.tpl-screen__menu-trigger {
  position: absolute;
  right: 0;
  top: 24px;
  width: 48px;
  height: 1px;
  padding: 47px 0 0;
  border: 0;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}
.tpl-screen__menu-trigger::after {
  content: '\f142';
  font-family: var(--fa);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-pink);
  font-size: 24px;
}

.tpl-screen__title {
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  font-weight: bold;
  position: relative;
}
.tpl-screen__title::before {
  content: '';
  height: 100%;
  width: 6px;
  position: absolute;
  left: 0;
  transform: translateX(-18px);
  background-color: var(--color-pink);
}
.tpl-screen__description {
  font-weight: 300;
  font-size: 14px;

  line-height: 24px;
}

.tpl-screen__description p {
  margin: 0;
}
.tpl-screen__description p + p {
  margin-top: 12px;
}